:root {
    --primary-color: #ffffff;
    --secondary-color: #05d4d4;
    --background-color: #ffffff;
    --font-color: #333;
    --hover-color: #b3040e;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.hero {
    background-image: url('https://www.dhl.com/global-en/home.html');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: var(--secondary-color);
    font-size: 24px;
}

.hero input {
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

.track-id {
    padding: 50px;
    background-color: var(--primary-color);
    color: var(--font-color);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: var(--secondary-color);
    font-size: 24px;
}

.track-id input {
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}
.track-id button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: var(--hover-color);
}

footer {
    background: var(--secondary-color);
    color: white;
    padding: 20px;
    margin-top: 20px;
}
button {
    background-color: var(--secondary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 7px;
    width: 5%;
  }